.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.counter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#increase,#decrease,#reset
{
    background-color: green;
    color: white;
    border: solid white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}